/CharactersAgeSI.pdf
/CharactersFitnessSI.pdf
/CharactersGenderSI.pdf
/CharactersRandom.pdf
/CharactersSocial StatusSI.pdf
/CharactersSpeciesSI.pdf
/CountriesChangePr.csv
/InterBarrierSI.pdf
/InterCrossingSignalSI.pdf
/InterInterventionSI.pdf
/MainChangePr.pdf
/MainChangePrSI.pdf
/plotdatacharacters.rdata
/plotdatamain.rdata
/plotdataSICharactersAge.rdata
/plotdataSICharactersFitness.rdata
/plotdataSICharactersGender.rdata
/plotdataSICharactersSocial Status.rdata
/plotdataSICharactersSpecies.rdata
/plotdataSIInterIntervention.rdata
/plotdataSIInterLegality.rdata
/plotdataSIInterRelation.rdata
/plotdataSIRobustInternalProfileOrder.rdata
/plotdataSIRobustInternalScenarioOrder.rdata
/plotdataSIRobustTheoActu.rdata
/plotdatautil.rdata
/RobustnessInternalActualSI.pdf
/RobustnessInternalDistributionSI.pdf
/RobustnessInternalProfileisonleftSI.pdf
/RobustnessInternalProfileisonSI.pdf
/RobustnessInternalScenarioOrderSI.pdf
/SharedResponses.csv
